ul, li {
  font-family: "Times New Roman";
  vertical-align: middle;
}

ul { 
  color:black;  
  font-family:'Times New Roman', Times, serif;
  font-size:20px; 
  text-align: center;
  list-style-type: none;
}

li {
  outline: none;
  color: rgb(0, 0, 0);
  margin-bottom: 15px;
  width: 95%;
}

#author {
  font-weight: bold;
}

#specialcolor { 
  font-style: italic;
}

input {
  width: 50%;
}